http:
  routers:
    to-api:
      entryPoints:
      - api
      service: api
      rule: HostRegexp(`{all:.*}`)

    to-machineconfig:
      entryPoints:
      - machineconfig
      service: machineconfig
      rule: HostRegexp(`{all:.*}`)

    to-ingresshttp:
      entryPoints:
      - ingresshttp
      service: ingresshttp
      rule: HostRegexp(`{all:.*}`)

    to-ingresshttps:
      entryPoints:
      - ingresshttps
      service: ingresshttps
      rule: HostRegexp(`{all:.*}`)

  services:
    api:
      loadBalancer:
        healthCheck:
          path: /healthz
          interval: 10s
          timeout: 3s
        servers:
{% for vm in bootstrap_vms + master_vms %}
        - url: "http://{{ vm.ip }}:6443"
{% endfor %}

    machineconfig:
      loadBalancer:
        servers:
{% for vm in bootstrap_vms + master_vms %}
        - url: "http://{{ vm.ip }}:22623"
{% endfor %}

    ingresshttp:
      loadBalancer:
        healthCheck:
          path: /healthz
          port: 1936
          interval: 10s
          timeout: 3s
        servers:
{% for vm in master_vms + worker_vms %}
        - url: "http://{{ vm.ip }}:80"
{% endfor %}

    ingresshttps:
      loadBalancer:
        healthCheck:
          path: /healthz
          port: 1936
          interval: 10s
          timeout: 3s
        servers:
{% for vm in master_vms + worker_vms %}
        - url: "http://{{ vm.ip }}:443"
{% endfor %}