{
  "ignition": {
    "config": {
      "replace": {
        "source": null,
        "verification": {}
      }
    },
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "3.0.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "{{ ssh_key.public_key }}"
        ]
      }
    ]
  },
  "storage": {
    "files": [
      {
        "path": "/home/core/coredns/Corefile",
        "contents": {
          "source": "data:,{{ lookup('template', 'coredns-corefile.j2') | urlencode }}"
        },
        "mode": 438,
        "user": {
          "name": "core"
        },
        "group": {
          "name": "core"
        }
      },
      {
        "path": "/home/core/coredns/{{ network.domain_suffix }}.db",
        "contents": {
          "source": "data:,{{ lookup('template', 'coredns-db.j2') | urlencode }}"
        },
        "mode": 438,
        "user": {
          "name": "core"
        },
        "group": {
          "name": "core"
        }
      },
      {
        "path": "/home/core/traefik/cluster.yml",
        "contents": {
          "source": "data:,{{ lookup('template', 'traefik-provider.yml.j2') | urlencode }}"
        },
        "mode": 438,
        "user": {
          "name": "core"
        },
        "group": {
          "name": "core"
        }
      },
      {
        "path": "/home/core/traefik/traefik.yml",
        "contents": {
          "source": "data:,{{ lookup('template', 'traefik-static-config.yml.j2') | urlencode }}"
        },
        "mode": 438,
        "user": {
          "name": "core"
        },
        "group": {
          "name": "core"
        }
      },
      {
        "path": "/etc/sysctl.d/11-lowports.conf",
        "contents": {
          "source": "data:,net.ipv4.ip_unprivileged_port_start=53"
        },
        "mode": 420,
        "user": {
          "name": "root"
        },
        "group": {
          "name": "root"
        }
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "name": "traefik.service",
        "enabled": true,
        "contents": "{{ lookup('file', 'traefik.service') | replace('\n', '\\n') }}"
      },
      {
        "name": "coredns.service",
        "enabled": true,
        "contents": "{{ lookup('file', 'coredns.service') | replace('\n', '\\n') }}"
      }
    ]
  }
}
