# https://cbonte.github.io/haproxy-dconv/2.2/configuration.html

global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  tcplog
    balance                 source
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    monitor-uri /healthz

frontend api
    bind *:6443
    default_backend api

backend api
    server {{ bootstrap_vms[0].name }} {{ bootstrap_vms[0].ip }}:6443 check
    {% for m in master_vms %}
    server {{ m.name }} {{ m.ip }}:6443 check
    {% endfor %}

frontend machine_config
    bind *:22623
    default_backend machine_config

backend machine_config
    server {{ bootstrap_vms[0].name }} {{ bootstrap_vms[0].ip }}:22623 check
    {% for vm in master_vms %}
    server {{ vm.name }} {{ vm.ip }}:22623 check
    {% endfor %}

frontend ingress_http
    bind *:80
    default_backend ingress_http

backend ingress_http
    {% for vm in master_vms %}
    server {{ vm.name }} {{ vm.ip }}:80 check
    {% endfor %}
    {% for vm in worker_vms %}
    server {{ vm.name }} {{ vm.ip }}:80 check
    {% endfor %}

frontend ingress_https
    bind *:443
    default_backend ingress_https

backend ingress_https
    {% for vm in master_vms %}
    server {{ vm.name }} {{ vm.ip }}:443 check
    {% endfor %}
    {% for vm in worker_vms %}
    server {{ vm.name }} {{ vm.ip }}:443 check
    {% endfor %}
